<p>table-students-first works!</p>
<h1>Student first table</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.surname}}</td>
      <td>
        <button (click)="deleteStudent(student.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<button (click)="addNewStudent()">Add new student</button>
